# Kafka에 접속할 주소
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Producer가 로그를 전송할 Topic
KAFKA_TOPIC=app-logs

# Consumer Group 이름
KAFKA_CONSUMER_GROUP=logpulse-console-consumer

# Fake Log Generator의 로그 생성 간격
LOG_INTERVAL_SECONDS=1.0
